html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 35px;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}


p {
    text-align: start;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;


}

.pictures {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    /* Adds spacing between items */
    width: 100%;
    background: lightgray;
    padding: 10px;


    div {
        background: steelblue;
        color: white;
        padding-top: 10px;
        padding-top: 10px;
        padding: 20px;
        font-size: 1.2rem;
        height: 420px;
        border-radius: 5px;
        text-align: center;
        justify-content: start;

    }
}

.member {
    img {
        border-radius: 500px;
    }
}

figure {
    box-shadow: 1px 2px 3px 2px rgb(194, 192, 192);
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.upper,
.assessment,
.special-programs,
.academic-support,
.important-resources,
.accreditation,
.enrichment-programs,
.special-programs,
.curriculum,
.future,
.welcome {
    box-shadow: 1px 2px 3px 2px rgb(194, 192, 192);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 0px;
    animation: views both;
    animation-timeline: view(75% 5%);

    >h1 {
        color: rgb(20, 63, 20);
        margin-top: 30px;
        padding: 20px;
        text-align: center;
        align-items: center;
        align-self: center;
    }




}

@keyframes views {
    from {
        transform: translate3d(200px);
        scale: .3;
        opacity: .5;
    }

    to {
        transform: translate3d(0);
        scale: 1;
        opacity: 1;
    }
}

.olevel,
.alevel {
    h2 {
        color: rgb(19, 65, 19);
        text-decoration: underline;
    }

    animation: views both;
    animation-timeline: view(90% 5%);
    text-align: start;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 2px 3px 2px rgb(194, 192, 192);
}

main ul {
    list-style: circle;

    text-align: start;
    background-color: grey;
    padding: 20px 10px;
    width: 95%;
    border-radius: 20px;
    margin-bottom: 20px;

    li {
        margin-bottom: 20px;

    }
}

#last-ms {
    border-end-end-radius: 5px;
    border-end-start-radius: 40px;
    border-start-start-radius: 5px;
    border-start-end-radius: 40px;
    padding: 20px;
    margin: 20px;
    color: whitesmoke;
    background: linear-gradient(rgb(90, 63, 63), pink, rgb(143, 124, 124));
    animation: lastsms both;
    animation-timeline: view(75% 5%);
}

@keyframes lastsms {
    from {
        transform: matrix3d(-20px -80px -20px -80px);
        scale: 1.6;
        opacity: 0;
    }

    to {
        transform: matrix(0);
        scale: 1;
        opacity: 1;
    }
}