p {
    text-align: start;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;


}

.our {
    font-size: 1rem;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-between;
    grid: 1fr 1fr 1fr;
    padding-left: 60px;

    div {
        height: 100px;
        width: 100px;
        background-color: aqua;
    }
}

figure,
.assessment,
.special-programs,
.academic-support,
.important-resources,
.future,
.accreditation,
.enrichment-programs,
.special-programs,
.curriculum,
.welcome {
    box-shadow: 1px 2px 3px 2px rgb(194, 192, 192);
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    animation: views both;
    animation-timeline: view(75% 5%);

    >h1 {
        color: rgb(20, 63, 20);
        margin-top: 30px;
        padding: 20px;
        text-align: center;
        align-items: center;
        align-self: center;
    }




}

@keyframes views {
    from {
        transform: translate3d(200px);
        scale: .3;
        opacity: .5;
    }

    to {
        transform: translate3d(0);
        scale: 1;
        opacity: 1;
    }
}


.olevel,
.alevel {
    h2 {
        color: rgb(19, 65, 19);
        text-decoration: underline;
    }

    animation: views both;
    animation-timeline: view(90% 5%);
    text-align: start;
    border-radius: 10px 10px 10px 10px;
    padding: 20px 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 2px 3px 2px rgb(194, 192, 192);
}

main ul {
    list-style: circle;

    text-align: start;
    background-color: grey;
    padding: 20px 10px;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 20px;

    li {
        margin-bottom: 20px;
        font-size: 1rem;
    }
}

#last-ms {
    border-end-end-radius: 5px;
    border-end-start-radius: 40px;
    border-start-start-radius: 5px;
    border-start-end-radius: 40px;
    padding: 20px;
    margin: 20px;
    color: whitesmoke;
    background: linear-gradient(rgb(90, 63, 63), pink, rgb(143, 124, 124));
    animation: lastsms both;
    animation-timeline: view(75% 5%);
}

@keyframes lastsms {
    from {
        transform: matrix3d(-20px -80px -20px -80px);
        scale: 1.6;
        opacity: 0;
    }

    to {
        transform: matrix(0);
        scale: 1;
        opacity: 1;
    }
}