body {
    background-image: url(assets/background2.jpeg);
    background-repeat: no-repeat;
    object-position: center;
    background-size: contain;

    object-fit: cover;
}

.say-hello {
    display: flex;
    column-gap: 1rem;
    margin-top: 5rem;
    box-shadow: 1px 1px 1px 2px rgb(88, 85, 85);
    margin-left: 10px;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 3rem;
    border-radius: .2rem;
    padding: 3rem 2rem;
    font-size: 1.1rem;
    overflow-x: hidden;
    border-bottom: none;
    background-image: linear-gradient(rgb(105, 99, 99), rgb(71, 71, 107), rgb(184, 184, 133), grey);

    h1 {
        text-shadow: 2px 3px black;
        border-bottom: 1px solid grey;
        color: green;
        text-emphasis-style: calc(scale(1.1));
        margin-bottom: 1rem;

    }
}

.icons img {
    height: 30px;
    cursor: pointer;
    transition: all .5s;
    margin-bottom: 2rem;
    margin-top: .5rem;
    margin-right: .3rem;
}

.icons img:hover {
    cursor: pointer;
    scale: 1.1;
}

.phone-email {
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contact-form {
    padding: 2rem 1rem;
    width: 100%;
    box-shadow: 1px 1px 1px 2px rgba(219, 219, 219, 0.993);
    display: flex;
    flex-direction: column;
    border-radius: .2rem;

    textArea {
        font-size: 1rem;
        resize: none;

    }

    input {
        font-size: auto;
    }

    .name-styles {

        display: flex;
        column-gap: 2rem;
        margin-bottom: 1rem;
    }

    #submit {
        background-color: rgb(14, 92, 14);
        color: white;
        font-size: larger;
        margin-top: 2rem;
        padding: 10px 10px;
        border-radius: 2rem;
        border: none;
        cursor: pointer;
        font-weight: 600;
        transition: all .5s;
    }

    #submit:hover {

        background-color: rgb(14, 68, 14);
        font-size: x-large;
        margin-bottom: -.2rem;
    }
}

.visit-us {
    padding: 10px 1.5rem;
    font-size: larger;
    font-weight: 6500;

    p {
        animation: show both;
        animation-timeline: view(75% 5%);
    }

    h1 {
        text-shadow: 2px 3px black;
        border-bottom: 1px solid grey;
        color: green;
        text-emphasis-style: calc(scale(1.1));
        margin-bottom: 1rem;
        animation: show both;
        animation-timeline: view(75% 5%);
    }
}

@keyframes show {
    from {
        transform: translateY(200px);
        scale: .3;
        opacity: 0;
    }

    to {
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }

}