* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: fit-content;
    font-family: "Roboto", sans-serif;
    margin: 0;
    margin-top: 110px;
    font-size: 1rem;
    font-weight: 549;
    display: flex;
    flex-direction: column;
    background-color: #078f;


}

main {
    position: relative;
    background-image: url(assets/school.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.main-content,
main div {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;

    h1 {
        font-size: 3rem;
    }

    P {
        padding: 0px 60px;
        text-align: center;
        font-size: 1.5rem;
    }
}

header {
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    column-gap: 5%;
    flex-shrink: 1;
    right: 0;
    background-color: #078f;
    width: 100%;
    position: fixed;

}

.logo img {
    height: 90px;
    margin-left: 10px;
}

header,
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    flex-shrink: 1;
    font-size: 1.2rem;

    margin-right: 5rem;
}

header nav {
    column-gap: 20px;

    a {
        text-decoration: none;
        color: black;
        border-radius: 10px;
        text-wrap: nowrap;
        transition: all .5s;
        padding: 5px 8px;
    }

    a:hover {
        color: rgb(33, 33, 100);
        scale: 1.05;

        border: 1px solid rgb(7, 7, 136);
    }
}

.scroll-watcher {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(rgba(33, 105, 214, 0.062), rgb(110, 90, 148));
    top: 100px;
    scale: 0 1;
    transform-origin: left;
    animation: scrollWatcher linear forwards;
    animation-timeline: scroll();
}

@keyframes scrollWatcher {
    to {
        scale: 1 1;
    }
}

.activities {
    position: relative;
    margin-top: 20vh;
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    width: 100%;
    align-self: center;


    h1 {
        text-align: center;
    }
}

.activities section {
    display: flex;
    align-items: center;
    background-color: wheat;
    column-gap: 20px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px;
    height: 100%;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 0%;
    animation-range-end: 95%;

    img {
        height: 20rem;
        border: 2px solid;
        border-radius: 30px;
        width: 20rem;
    }
}

@keyframes fade-in {
    from {
        scale: .7;
        opacity: 0.3;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

footer {
    display: flex;
    margin-top: 20px;
    height: fit-content;
    padding: 10px;
    align-items: center;
    justify-content: space-around;

}

#checkbox {}

.footer-right {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#footer-left input {
    border: 3px solid black;

}

#footer-left #email {
    height: 35px;
    margin-top: 5px;
    width: 210px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 1.2rem;
}

#footer-left button {
    background-color: black;
    cursor: pointer;
    color: white;
    padding: 8px 15px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 20px;
}

.sites {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
    justify-content: space-between;
    column-gap: 10px;


    img {
        width: 30px;
        border-radius: 10px;
        cursor: pointer;
    }
}