* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    margin-top: 75px;
    font-size: 1rem;
    font-weight: 549;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    transition: all .5s;


}

#welcome-ms {
    margin-top: 20px;
}

.document-theme {
    color: white;
    background-color: black;
}

.theme {
    position: fixed;
    bottom: 50px;
    right: 30px;

    z-index: 5000;

    img {
        height: 40px;
        border-radius: 50px;
        cursor: pointer;
    }
}

main {
    position: relative;
    background-image: url(assets/school.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.main-content,
main div {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    P {
        padding: 0px 30px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

figure div {
    position: relative;
    width: 100%;
    height: 30rem;
    padding-bottom: 30px;
    overflow: hidden;

    section {
        img {
            width: 300px;
            height: 300px;
            margin-right: 10px;
            border-radius: 10px;
        }

        h2 {
            color: green;
            text-transform: capitalize;
        }

        p {

            line-height: 23px;
            max-lines: 4;
            overflow-wrap: anywhere;
        }

        margin-top: 20px;
        position: absolute;
        width: 100%;
        height: 95%;
        padding:10px 10px;
        border-radius: 10px 20px;
        box-shadow: 1px 0px 1px 2px grey;
        display: flex;
        opacity: 1;
        flex-direction: column;
        transform: translateX(100%);
        /* Start position from the right */
        animation: slideInFromRight 20s infinite;
    }

    section:nth-child(1) {
        animation-delay: 0s;

    }

    section:nth-child(2) {
        animation-delay: 5s;
    }

    section:nth-child(3) {
        animation-delay: 10s;
    }

    section:nth-child(4) {
        animation-delay: 15s;
    }

}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    10% {
        opacity: 1;
        transform: translateX(0);
    }

    20% {
        opacity: 1;
        transform: translateX(0);
    }

    30% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 0;
        transform: translateX(-10%);
    }
}

header {
    z-index: 2000;
    padding-top: 5px;
    top: 0;
    left: 0;
    background-color: rgb(34, 138, 34);
    width: 100%;
    position: fixed;
    transition: all .7s;

}

#mobile {
    transition: all 2s;
}

#mobile ul {
    display: flex;
    position: fixed;
    top: 80px;
    flex-direction: column;
    left: 0;
    list-style: none;
    padding-right: 30px;
    right: 0;
    justify-content: space-between;
    align-items: end;
    z-index: 6000;
    background-color: rgb(34, 138, 34);
    color: black;
    row-gap: 20px;
    padding-bottom: 30px;
    height: 300px;
    padding-top: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all .7s;

    li a {
        text-decoration: none;
        color: black;
        font-weight: 750;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 10px;
        transition: all .5s;
        padding: 5px 8px;

    }

    li a:hover {
        scale: 1.05;

        border: 1px solid rgb(7, 7, 136);
    }
}

#open-close {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.logo img {
    height: 70px;
    margin-left: 10px;
}

header,
header #desktop ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    flex-shrink: 1;
    font-size: 1.2rem;
}

header #desktop {
    transition: all .7s;

    a {
        text-decoration: none;
        color: black;
        border-radius: 10px;
        max-lines: 1;
        display: inline-block;
        overflow: hidden;


        transition: all .5s;
        padding: 5px 8px;
    }

    a:hover {
        scale: 1.05;

        border: 1px solid rgb(7, 7, 136);
    }
}

.scroll-watcher {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(36, 33, 33);
    top: 75px;
    scale: 0 1;
    bottom: 0;
    transform-origin: left;
    animation: scrollWatcher linear forwards;
    animation-timeline: scroll();
}

@keyframes scrollWatcher {
    to {
        scale: 1 1;
    }
}

.activities-title {
    text-align: center;
    margin-top: 40px;
    animation: show both;
    animation-timeline: view(75% 100px);
}

@keyframes show {
    from {
        transform: translateY(200px);
        scale: .3;
        opacity: 0;
    }

    to {
        transform: translateY(0);
        scale: 1;
        opacity: 1;
    }

}

footer {
    display: flex;
    position: relative;
    width: 100vw;
    margin-top: 50px;
    color: white;
    height: fit-content;
    left: 0;
    right: 0;
    background-color: black;
    font-size: large;
    padding: 10px;
    align-items: center;
    justify-content: space-around;

}

.footer-right {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#footer-left #email {
    height: 35px;
    margin-top: 5px;
    width: 210px;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 1.2rem;
}

#footer-left #subscribe-btn {
    background-color: white;
    cursor: pointer;
    color: black;
    padding: 8px 15px;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 20px;
    transition: all .5s;


}

#subscribe-btn:hover {
    scale: 1.05;
}

.subscribed {
    background-color: rgb(196, 13, 13);
    color: white;
}

.sites {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
    justify-content: space-between;
    column-gap: 10px;


    img {
        width: 30px;
        border-radius: 10px;
        cursor: pointer;
    }
}